
.albums{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-column-start: 1;
    grid-column-end: 6;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

.album-item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 110px;
    gap: 10px;
    background-color:rgb(146, 135, 36);
    justify-content: space-between;
}

.albums-heading{
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    color: darkcyan;
    font-size: 30px;
}

.album-link{
    padding: 5px;
    background-color: rgb(59, 51, 41);
    border-radius: 20px;
    text-align: center;
}